.homepageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContent {
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 5%;
}

.loginFormContent {
    margin-top: 2%;
}

.loginSignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

.loginButtons {
    display: flex;
    gap: 5px
}